<!-- prettier-ignore -->
<article>
  <section class="relative">
    <img src="assets/images/articleheader.jpg" alt="Imagen cabecera" class="object-cover w-full h-auto min-h-64 max-h-[50vh] block" />
    <p class="absolute bottom-2 right-4 text-white opacity-80">por Equipo Organizador</p>
    <div class="heading !bg-primary-bg-1-transp absolute bottom-12 left-1/2 -translate-x-1/2 rounded-md max-w-[90%] container">
      <h1>Economía circular:<br />Un nuevo modelo para el futuro</h1>
    </div>
  </section>

  <div class="py-8 text-primary container mx-auto px-4">
    <section class="flex gap-4 mt-2">
      <p class="flex-1 basis-1/3 text-2xl">La economía circular propone un modelo sostenible, en el que los recursos se mantienen el mayor tiempo posible dentro del sistema.</p>
      <p class="flex-1 basis-2/3">
        A diferencia del modelo lineal tradicional de producir, usar y desechar, este nuevo enfoque se basa en principios de ecodiseño, reutilización y reciclaje eficiente, fomentando un sistema donde
        el valor de los productos y materiales se conserva al máximo durante su uso. En lugar de extraer constantemente recursos naturales, se prioriza la eficiencia desde el origen, reduciendo el
        impacto ambiental y alargando el ciclo de vida útil de cada objeto. Este modelo favorece una economía regenerativa, que no solo minimiza los residuos, sino que además impulsa la innovación
        tecnológica y el rediseño de procesos para que sean más sostenibles y resilientes a largo plazo.
      </p>
    </section>

    <section class="my-6 pt-6 border-t border-b border-primary">
      <ol class="flex flex-col gap-6 pl-10">
        <include src="views/components/ordered_list_item.html">
          { 
            "number": "1", 
            "name": "Reducción de residuos", 
            "description": "La reducción de residuos es una de las piedras angulares del modelo circular. Desde el inicio del procesode diseño, se busca minimizar el uso de materiales no reciclables y limitar el desperdicio, fomentando productos más duraderos y fáciles de reparar o desmontar." 
          }
        </include>
        <include src="views/components/ordered_list_item.html">
          { 
            "number": "2", 
            "name": "Reutilización y reparación", 
            "description": "Extender la vida útil de los productos mediante la reutilización o la reparación es clave para reducir el consumo de nuevos recursos. Esto permite ahorrar energía y materiales, al tiempo que se promueve una economía más participativa y responsable con el entorno." 
          }
        </include>
        <include src="views/components/ordered_list_item.html">
          { 
            "number": "3", 
            "name": "Reciclaje eficiente", 
            "description": "Cuando un producto ya no puede seguir siendo utilizado, el reciclaje eficiente permite recuperar materiales valiosos para que puedan ser utilizados nuevamente. Esto requiere una separación correcta, innovación tecnológica y una buena gestión de los sistemas de recogida." 
          }
        </include>
      </ol>
    </section>

    <section class="mb-6">
      <p class="text-2xl mb-6">
        En estas jornadas, distintos expertos del ámbito público y privado compartirán experiencias y estrategias innovadoras para implementar políticas de economía circular en sectores como la
        construcción, la agricultura, la moda y la industria tecnológica, con el objetivo de reducir el impacto ambiental y aumentar la competitividad.
      </p>
      <p>
        También se abordarán temas como la educación ambiental, la participación ciudadana y el papel de los gobiernos locales en la transición hacia un modelo circular. A través de charlas, paneles
        de debate y talleres prácticos, se pretende generar una red de colaboración y aprendizaje entre profesionales, estudiantes y responsables políticos.
      </p>
    </section>

    <figure class="mb-6">
      <img src="assets/images/articlecontent.jpg" alt="Imagen ponencia" class="object-contain w-full h-auto max-h-[50vh] block" />
    </figure>

    <section>
      <blockquote class="text-center bg-primary-bg-3-transp rounded-md py-4 px-12 text-xl italic relative mb-6">
        <span class="absolute top-6 left-6 text-5xl">&#8220;</span>
        Sólo mediante una transformación integral y colaborativa podremos asegurar un futuro sostenible para las próximas generaciones.
        <span class="absolute top-6 right-6 text-5xl">&#8221;</span>
      </blockquote>
      <p>
        Las jornadas representan una oportunidad única para aprender, compartir y establecer alianzas con actores clave en la transformación ecológica. Desde una visión local, pero con vocación
        global, se busca fomentar una cultura económica que respete los límites del planeta y mejore la calidad de vida de las personas.
      </p>
    </section>
  </div>
</article>
