<footer class="text-primary">
  <div
    class="container mx-auto mt-4 flex flex-col sm:flex-row flex-wrap gap-6 sm:gap-0 items-center justify-between px-4 py-2"
  >
    <p class="w-full text-center border-b border-primary px-4 pt-4 pb-8 mb-4">
      2025 - jbenita - Herramientas HTML y CSS 2 - P2 - UOC
    </p>

    <div class="">
      <a href="index.html"
        ><img
          src="./assets/images/logo.png"
          alt="Logo"
          class=""
          height="50"
          width="65"
      /></a>
    </div>
    <nav>
      <ul class="flex flex-col sm:flex-row gap-4 text-center font-semibold">
        <li>
          <a href="speakers.html" class="hover:text-secondary">Ponentes</a>
        </li>
        <li>
          <a href="article.html" class="hover:text-secondary">Información</a>
        </li>
        <li>
          <a href="join.html" class="hover:text-secondary">Inscripción</a>
        </li>
      </ul>
    </nav>
    <div>
      <ul class="flex flex-row gap-4">
        <li>
          <a href="#" aria-label="Google Plus"
            ><i class="fab fa-google-plus-g"></i
          ></a>
        </li>
        <li>
          <a href="#" aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#" aria-label="X (Twitter)"
            ><i class="fab fa-x-twitter"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
